/* by Sunisa
--------------------------------------------------------------------------------------------------*/
.fc-toolbar {
    display: flex;
    display: -webkit-flex;
    padding: 0 0 0 10px;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    height: 30px;
    margin-right: -2px;
    background-color: #F5F5F5;
    border-top: solid 1px #ECECEC;
}
.fc-toolbar .fc-left {
@extend .flex-1;
}
.fc-toolbar .fc-left * {
    font-size: 16px !important;
    padding-left: 5px;
}
.fc-toolbar .fc-right {
    flex-basis: 88px;
    -webkit-flex-basis: 88px;
    -moz-flex-basis: 88px;
}
.fc-right button.fc-today-button {
    display: none;
}
.fc .button {
    border-radius: 0;
    font-size: 16px !important;
    padding-top: 1px;
}
.fc .fc-button-group > * {
    width: 44px;
}
.fc-button {
    height: 31px !important;
}
.fc-state-default.fc-corner-left {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.fc-state-default.fc-corner-right {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
}
.fc-state-default {
    color: #333;
    background-color: #F5F5F5;
    background-image: none;
    box-shadow: none;
    text-shadow: none;
    border-top-color: #ECECEC;
    border-color: #E4E4E4;
}
.fc-today {
    background-color: transparent !important;
    color: #FF0700;
}
.fc th {
    text-align: center;
    border-left: solid 0px #FFFFFF;
    border-right: solid 0px #FFFFFF;
    padding: 4px !important;
    color: #6F6F6F;
    font-size: 14px;
}
.fc td {
    border-right: 0px;
    border-color: #ECECEC;
}
.fc-view-container {
    margin-top: -16px;
    margin-left: -1px;
}
.fc .fc-toolbar > * > * {
    margin-left: -1px;
}
.fc-day-grid-event .fc-time {
    font-weight: normal !important;
    color: #000;
}
.fc-title {
    color: #6F6F6F !important;
}
.fc-event .fc-content {
    font-size: 12px;
}
.fc-scroller {
    overflow-y: auto;
}
.fc-row .fc-widget-header {
    border-right-width: 0px;
}
.fc-icon-left-single-arrow{
    width: 0;
    height: 0;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
    border-right: 10px solid #A7A7A7;
}
.fc-icon-right-single-arrow {
    width: 0;
    height: 0;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
    border-left: 10px solid #A7A7A7;
}
.fc-ltr .fc-basic-view .fc-day-number {
    padding-right: 5px;
    position: relative;
}
.fc-today-button {
    color: #FF0700 !important;
}
.fc-ltr .fc-basic-view .fc-day-number {
@extend .pointer;
}
.number-circle-bg {
    position: absolute;
    right: 1px;
    padding-top: 3px;
    padding-right: 4px;
    color: #FFFFFF;
    font-weight: bold;
    width: 22px;
    height: 22px;
    background-color: #222222;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
}
.today-number-circle-bg {
    position: absolute;
    right: 1px;
    padding-top: 3px;
    padding-right: 4px;
    color: #FFFFFF;
    font-weight: bold;
    width: 22px;
    height: 22px;
    background-color: #FF0700;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
}

/* Toolbar
--------------------------------------------------------------------------------------------------*/

.fc-toolbar {
	text-align: center;
	margin-bottom: 1em;
}

.fc-toolbar .fc-left {
	float: left;
}

.fc-toolbar .fc-right {
	float: right;
}

.fc-toolbar .fc-center {
	display: inline-block;
}

/* the things within each left/right/center section */
.fc .fc-toolbar > * > * { /* extra precedence to override button border margins */
	float: left;
	margin-left: .75em;
}

/* the first thing within each left/center/right section */
.fc .fc-toolbar > * > :first-child { /* extra precedence to override button border margins */
	margin-left: 0;
}
	
/* title text */

.fc-toolbar h2 {
	margin: 0;
}

/* button layering (for border precedence) */

.fc-toolbar button {
	position: relative;
}

.fc-toolbar .fc-state-hover,
.fc-toolbar .ui-state-hover {
	z-index: 2;
}
	
.fc-toolbar .fc-state-down {
	z-index: 3;
}

.fc-toolbar .fc-state-active,
.fc-toolbar .ui-state-active {
	z-index: 4;
}

.fc-toolbar button:focus {
	z-index: 5;
}


/* View Structure
--------------------------------------------------------------------------------------------------*/

/* undo twitter bootstrap's box-sizing rules. normalizes positioning techniques */
/* don't do this for the toolbar because we'll want bootstrap to style those buttons as some pt */
.fc-view-container *,
.fc-view-container *:before,
.fc-view-container *:after {
	-webkit-box-sizing: content-box;
	   -moz-box-sizing: content-box;
	        box-sizing: content-box;
}

.fc-view, /* scope positioning and z-index's for everything within the view */
.fc-view > table { /* so dragged elements can be above the view's main element */
	position: relative;
	z-index: 1;
}
